h1 {
    text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #4CAF50;
    color: white;
  }


body {
    /* background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); */
    background-color: black;
    color: white;
    /* background-image: url('../black.jpg'); */
    margin: 0;
    padding: 0;
    height: 100vh;
    /* font-family: 'Poppins', sans-serif; */
}

h1, p {
    color: white;
}

.mpgApp, #mpgCalcContent, #homeContent, #oilCompareContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}




.form-fields, .form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-right: 10px;
}

.mpgform button {
    color: white;
    background-color: green;
    height: auto;
}

button[type="reset"] {
    color: black;
    background: grey;
}

#form-mpg-result {
    background: rgb(180, 174, 174);
}

.mpgform-wrap {
    display: block;
}

#oilWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#oilA {
    margin: 10px;
    background-color: darkblue;
    border-radius: 25px;
    padding: 16px;
}

#oilB {
    margin: 10px;
    background-color: darkgreen;
    border-radius: 25px;
    padding: 16px;
}

.flexCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#oilCompSubmitButton, #mpgSubmitBtn {
    padding: 15px 25px;
    margin: 5px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px seagreen;
}

#oilCompResetButton, #mpgResetBtn {
    padding: 15px 25px;
    font-size: 24px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: orangered;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px darkred;
}

#oilTankCapacityWrap {
    background-color: teal;
    margin: 3%;
    padding: 26px;
    border-radius: 25px;
}

#oilCompBtnsWrap {
    display: flex;
    flex-direction: column;
}

#mpgWrap {
    margin: 10px;
    background-color: darkgreen;
    border-radius: 25px;
    padding: 16px;
}

/* start styling for contact form */
* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit], #contactSubmitBtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    margin: auto;
    width: 50%;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
/* end styling for contact form */



@media (min-width: 769px) {
    /* start media queries for nav bar */
    .topnav {
        background: #000;
    }

    .topnav > a:first-child {
        display: none;
    } 

    .topnav > a:last-child {
        display: none;
    }

    .topnav #myLinks {
        display: flex;
        justify-content: flex-end;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
    }

    .topnav #myLinks a {
        border-right: 1px solid rgba(255, 255, 255, .2);
    }

    .topnav #myLinks a:last-child {
        border-right: none;
    }
    /* end media queries for nav bar */

    /* start media queries for content */
    #oilWrap, #oilCompBtnsWrap {
        flex-direction: row;
    }


    /* end media queries for nav bar */



}